BasedOnStyle: WebKit
IndentWidth: 4
ColumnLimit: 100
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Middle
NamespaceIndentation: All
BreakBeforeInheritanceComma: true
AlwaysBreakTemplateDeclarations: true
PenaltyBreakBeforeFirstCallParameter: 0
IndentCaseLabels: true
SortIncludes: true
IndentWrappedFunctionNames: true
AllowAllParametersOfDeclarationOnNextLine: true
AlignAfterOpenBracket: AlwaysBreak
FixNamespaceComments: trueBinPackArguments: falseBinPackParameters: false
BraceWrapping:  AfterClass:      true  AfterControlStatement: true  AfterEnum:       true  AfterFunction:   true  AfterNamespace:  true  AfterObjCDeclaration: true  AfterStruct:     true  AfterUnion:      true  BeforeCatch:     true  BeforeElse:      true  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: falseBreakBeforeBraces: Custom
